backend/calender-backend/obj/calender-backend.csproj.nuget.dgspec.json
backend/calender-backend/obj/calender-backend.csproj.nuget.g.targets
backend/calender-backend/obj/project.assets.json
backend/calender-backend/obj/project.nuget.cache
backend/calender-backend/obj/Debug/net9.0/calender-backend.AssemblyInfo.cs
backend/calender-backend/obj/Debug/net9.0/calender-backend.AssemblyInfoInputs.cache
backend/calender-backend/obj/Debug/net9.0/calender-backend.assets.cache
