.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* full screen height */
  background: var(--bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-card {
  background: var(--card-color);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 320px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.login-title {
  margin-bottom: 20px;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;

}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.loginlabel {
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

.login-button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.login-button:hover {
  background: #0056b3;
}
