.theme-toggle-button {
    padding: 10px 20px;
    width: 9rem;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
    padding-right: 1rem;
    /* display: flex; */
    align-items: left;
    text-align: left;
  }
  
.theme-toggle:hover {
    opacity: 0.8;
  }