.theme-toggle-button {
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    background-color: var(--card-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    padding-right: 1rem;
    /* display: flex; */
    align-items: center;

  }
  
.theme-toggle:hover {
    opacity: 0.8;
  }